.img-circle 
{
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}

.abc1 {
margin: 1rem;
padding: 2rem;
background-color:#CCCBCB;
border-radius: 1em;
height: 20em;
}


.abc {
margin: 1rem;
padding: 2rem;
background-color:#CCCBCB;
border-radius: 1em;
height: 40em;
}






#test{
    margin-top: -2em;
    margin-left: -1em;

}


#test1{
    margin-top: 5em;
}


#test2{
    margin-top: 20em;
}
